/** teks destinasi **/

.judul-teks {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #5F7161;
    margin-top: 80px;
}

.judul-deskprisi-teks {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #B0B0B0;
}


/** Card destinasi **/

.card-destinasi {
    margin-top: 20px;
    border-radius: 10px;
}

.card-destinasi,
.card-image {
    min-height: 372.08px;
    max-height: 372.08px;
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.card-img-overlay {
    height: fit-content;
    margin-top: auto;
}

.card-text-destinasi {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    color: white;
}